aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
appnope
asttokens
async-timeout
attrs
backcall
backoff
backports.functools-lru-cache
bcrypt
beautifulsoup4
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses
dataclasses-json
datasets
debugpy
decorator
dill
distro
docker-pycreds
entrypoints
et_xmlfile
exceptiongroup
executing
faiss-cpu
fastapi
filelock
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
gmpy2
google-api-core
google-auth
googleapis-common-protos
gptcache
greenlet
h11
hnswlib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
InstructorEmbedding
ipykernel
ipython
ipywidgets
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lz4
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mdurl
monotonic
mpmath
multidict
multiprocess
munkres
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
numpy
onnxruntime
openai
orjson
overrides
packaging
pandas
parso
pillow
platformdirs
posthog
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pulsar-client
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
PyPDF2
PyPika
pyreadline3
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
widgetsnbextension
xxhash
yarl
zipp
